<h2><%= @title -%></h2>

<div class="vidpage">

<EMBED
SRC="<%= @thumb -%>"
href="<%= @movie -%>"
target="myself"
scale="1"
HEIGHT=105 WIDTH=146
TYPE="video/quicktime"
PLUGINSPAGE="http://www.apple.com/quicktime/download/"
autoplay="false"
/>

</div>